
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    color: black;
    box-sizing: border-box;
}


.intro{
    height: 100vh;
}

#particles-js{
    position: absolute;
    height: 100vh;
    width: 100%;
    z-index: -10;
    background: #233554;
}

.flex-about-image div{
    margin-top: 50px;
}

.container-presentation{
   
    margin-top: 80px;
    margin-bottom: 60px;
    
}
.name-presentation{
    color: #F6416C;
}
.title-presentation{
    color: white;
    font-size: 43px;
    line-height: 1.4;
}


.content-presentation{
    padding: 20% 15%;
    text-align: center;
    background: transparent;
    margin: auto 0;
    vertical-align: middle;
}
h2{
    font-weight: 300;
}

.work-button{
    z-index: 7;
    margin-top: 15px;
    position: relative;
    display: inline-block;
    text-decoration: none;
    padding: 17px 43px;
    background-color: transparent;
    border: 2px solid white;
    color: azure;
    font-size: 20px;
}

.flex-about{
    display: flex;
    
}

.flex-about-image{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    flex-basis: 1 0 50%;
    
}

.decoration-about{
    width: 50%;
    height: 50%;
    position: absolute;
    z-index: -10;
    right : 0;
    top: 0;
    background-color: aquamarine;    
}


.line-about-me{
    height: 3px;
    width: 400px;
    background-color: #181a1f;
    margin: 0 auto;
    margin-top: 20px;
}

.icon-work{
    margin-left: 10px;
    
}

.work-button:hover{
    background-color: #b62c4c;
    transition: 0.5s;
}



.work-button:hover i{
    transform: rotate(90deg);

    transition: 0.5s;
}


.work-button:not(hover) i{
    transform: rotate(0deg);

    transition: 0.5s;
}

.line{
    background-color: rgb(30, 155, 155);
    width: 50px;
    height: 5px;
    margin: 6px auto;
}



header .menu a{
    margin-right: 55px;
    font-size: 20px;
    color: white;
}

header .menu a:hover{
  
    color: #64ffda;
}





.menu-burger{

    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    background-color: #252934;
    z-index: 100;
    background-color: rgb(45, 90, 92);
    transition: 0.8s ;

}

.menu-burger a{
    margin-right: 55px;
    font-size: 25px;
    color: white;
    display: none;
    margin: 50px 15px;
   
}



header .menu{
    text-align: center;
    background-color: #252934;
    padding: 20px 0;
    opacity: 0.8;
   
}
.title-about{
    text-align: center;
}

header{
    position: sticky;
    top: 0;
    z-index: 100;
}


.title-section{
    
    text-align: center;
    color: rgb(30, 155, 155);
    font-size: 30px;
    font-weight: 600;
}

.flex-container{
    flex-direction: column;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
}


.grid-container > div{
    background-color: #F6416C;
    text-align: center;
}

p{
    text-align: left;
}

.flex-container-item-who{
    text-align: center;
    
}

img{
    width: 55px;
    min-width: 55px;
    
    margin-bottom: 10px;
    margin-right: 5px;
}

.flex-container-skills{
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    vertical-align: middle;
}

.flex-container-item{

    flex-basis: 40%;
    flex-grow: 40%;
    text-align: center;
}

.about-section{
    background-color: white;
    padding-top: 120px;
    padding-bottom: 300px;
}

label{
    color: white;
    margin-top: 15px;
}

.flex-container-skills img {
    filter: grayscale(100%);
    margin: 0 10px;
}

.flex-container-skills img:hover {
    filter: grayscale(0);
}

.project-flex{
    
    align-self: flex-start;
    justify-content: center;
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 80px;
    
}

.card {
    height: 430px;
    width: 320px;
    min-width: 320px;
    background-image: url(https://scontent.fbcn7-2.fna.fbcdn.net/v/t1.6435-9/162544766_246252933868569_7187407117357921751_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=vc3UmHSjJZ8AX_-kQE_&_nc_ht=scontent.fbcn7-2.fna&oh=00_AT_vkxwKOwihVlPWXLDp-Xc5r99i8gn5mTA9ni5pk_xFkA&oe=62E47420);
    background-position: center;
    background-size: cover;
    box-shadow: 7px 7px 7px 0 gray;
   
}

.project-section{
    background-color: rgb(206, 206, 206);
    padding-bottom: 290px;
    padding-top: 120px;
}

form{

    margin: 0 auto;
    background: white;
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;

}

form input, form textarea{
    border: 0;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background: #181a1f;
    font-size: 16px;
    color: white;
}

form button{
    padding: 15px;
    background: rgb(30, 155, 155);;
    color: white;
    font-size: 18px;
    border: 0;
    outline: none;
    width: 200px;
    margin: 20px auto 0;
    border-radius: 3px;
    cursor: pointer;
}

.button-project{
    margin-top: 280px;
    padding: 10px 15px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    font-size: 15px;
    background-color: grey;
    cursor: pointer;
}

.button-project:hover{
    
    background-color:rgb(30, 155, 155);;
}

.card:hover .button-project{
    transition: 0.5s;
    transform: translateY(-30px);

}

.card:not(hover) .button-project{
    transition: 0.5s;
    transform: translateY(0px);
}



.content{
    
    padding-top: 15px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
    opacity: 0;
    transition: .5s;
}



.card:hover .content{
    opacity: 1;
}

.card:hover h3{
    transition: 1s;
    transform: translateX(20px);
}

.card:not(:hover) h3{
    transition: .5s;
    transform: translateX(0);
}


.card:hover p{
    transition: .5s;
    transform: translateX(20px);
}

.card:not(hover) p{
    transition: .5s;
    transform: translateX(0px);
}

.content p{
   
    color: grey;
    text-align: start;
}

.content h3{
    
    color: white;
    text-align: start;
}

.contact-section{
    padding-top: 130px;
    padding-bottom: 245px;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: white;
}

.burger{
   
    cursor: pointer;
    position: fixed;
    right: 15px;
    top: 15px;
    padding: 10px;
    border-radius: 3px;
    background-color: #181a1f;
    opacity: 0.8;
}


@media (max-width:768px) {
    .menu-burger{
        display: block;
        transition: s;
    }

    .menu{
        display: none;
    }
}
